<?xml version="1.0" encoding="UTF-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="nepes" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_test1" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_test1;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_display" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_display;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_enc" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_enc;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_led" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_led;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_amc" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_amc;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="nepes_rigma" connectionString="Data Source=192.168.10.15;Initial Catalog=nepes_rigma;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="UACT_TEST" connectionString="Data Source=192.168.31.233;Initial Catalog=NEPES_UACT_DBF;User ID=sa;Password=nepes123!" providerName="System.Data.SqlClient" />
    <add name="UACT" connectionString="Data Source=192.168.10.15;Initial Catalog=NEPES_UACT_DBF;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="NEPES_TEST1ConnectionString" connectionString="Data Source=192.168.10.15;Initial Catalog=NEPES_TEST1;Persist Security Info=True;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="NEPES_TEST1ConnectionString2" connectionString="Data Source=192.168.10.15;Initial Catalog=NEPES_TEST1;Persist Security Info=True;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="NEPES_TEST1ConnectionString3" connectionString="Data Source=192.168.10.15;Initial Catalog=NEPES_TEST1;Persist Security Info=True;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="NEPES_TEST1ConnectionString4" connectionString="Data Source=192.168.10.15;Initial Catalog=NEPES_TEST1;Persist Security Info=True;User ID=sa;Password=nepes01!" providerName="System.Data.SqlClient" />
    <add name="NEPES_MAIL" connectionString="Data Source=192.168.10.118;Initial Catalog=EKP_WORKFLOW;User ID=sa;Password=Nepes!qazNepes!qaz" providerName="System.Data.SqlClient" />
    <add name="NEPES_MAIL_DEV" connectionString="Data Source=192.168.10.114;Initial Catalog=EKP_WORKFLOW;User ID=sa;Password=nepes!QAZ" providerName="System.Data.SqlClient" />

    <add name="MES_CCUBE_MIGHTY" connectionString="Data Source=CCUBE;User ID=mighty;Password=mighty;" providerName="System.Data.OracleClient" />
    <add name="MES_CCUBE_UNIERP" connectionString="Data Source=CCUBE;User ID=unierpsemi;Password=unierpsemi#;" providerName="System.Data.OracleClient" />
    <add name="MES_NDMES_MESMGR" connectionString="Data Source=NDMES;User ID=mesmgr;Password=mesmgr;" providerName="System.Data.OracleClient"/>
    <add name="MES_RPTMIT_RPTMIT" connectionString="Data Source=RPTMIT;User ID=rptmit;Password=rptmit;" providerName="System.Data.OracleClient"/>
    <add name="NES_NDTMES_MESMGR" connectionString="Data Source=NDTMES;User ID=c##mesmgr;Password=mesmgr;" providerName="System.Data.OracleClient"/>



    <add name="ekp" connectionString="Data Source=192.168.10.66;Initial Catalog=Eware25;User ID=eware;Password=eware_nepes" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="AjaxControlToolkit" />
        <add assembly="FarPoint.Web.Spread, Version=6.0.3505.2008, Culture=neutral, PublicKeyToken=327C3516B1B18457" />
        <add assembly="FarPoint.Web.Chart, Version=6.0.3505.2008, Culture=neutral, PublicKeyToken=327C3516B1B18457" />
        <add assembly="FarPoint.CalcEngine, Version=6.0.3505.2008, Culture=neutral, PublicKeyToken=327C3516B1B18457" />
        <add assembly="FarPoint.Excel, Version=6.0.3505.2008, Culture=neutral, PublicKeyToken=327C3516B1B18457" />
        <add assembly="FarPoint.PDF, Version=6.0.3505.2008, Culture=neutral, PublicKeyToken=327C3516B1B18457" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>      
    </compilation>
    <authentication mode="None">
      <forms loginUrl="~/Account/Login.aspx" timeout="6000000" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxcontrolToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add src="~/Controls/MultiCheckCombo.ascx" tagName="MultiCheckCombo" tagPrefix="mcc"/>
      </controls>
    </pages>
        <sessionState timeout="60" />    
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="nepes_sys@nepes.co.kr">
        <network defaultCredentials="false" host="mail.nepes.co.kr" port="25" userName="nepes_sys@nepes.co.kr" password="tmdfl1204" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="CP='NOI ADM DEV COM NAV OUR STP'" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="fp_client" value="fp_client" />
  </appSettings> 

</configuration>