A
{
    COLOR: #003399;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #666699;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.TITLE
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    WIDTH: 100pt;
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.TITLE A
{
    MARGIN-TOP: 3px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.BaseFont
{
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.BODYS
{
    FONT-SIZE: 9pt;
    MARGIN: 0px 0px 0px 1px;
    COLOR: #333333;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.REQUIRED
{
    BORDER-RIGHT: #666666 1px groove;
    BORDER-TOP: #666666 1px groove;
    BORDER-LEFT: #666666 1px groove;
    COLOR: #333333;
    BORDER-BOTTOM: #666666 1px groove;
    FONT-FAMILY: ±¼¸²;
    BACKGROUND-COLOR: ivory
}
.LW80_L
{
    WIDTH: 80pt;
    TEXT-ALIGN: left
}
.LW50_R
{
    WIDTH: 50pt;
    TEXT-ALIGN: right
}
.SBUTTON_L
{
    BORDER-RIGHT: 2px outset;
    BORDER-TOP: 2px outset;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 2px outset;
    WIDTH: 35pt;
    COLOR: black;
    BORDER-BOTTOM: 2px outset;
    FONT-FAMILY: ±¼¸²;
    TEXT-ALIGN: center
}
TD
{
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.Tab5
{
    MARGIN-LEFT: 5px
}
.Tab10
{
    MARGIN-LEFT: 10px
}
.LW100_R
{
    WIDTH: 100pt;
    TEXT-ALIGN: right
}
.LW100_L
{
    WIDTH: 100pt;
    TEXT-ALIGN: left
}
.LW50_C
{
    WIDTH: 50pt;
    TEXT-ALIGN: center
}
.LW80_R
{
    WIDTH: 80pt;
    TEXT-ALIGN: right
}
.LW50_L
{
    WIDTH: 50pt;
    TEXT-ALIGN: left
}
.MBUTTON_L
{
    FONT-SIZE: 9pt;
    WIDTH: 50pt;
    COLOR: #333333;
    FONT-FAMILY: ±¼¸²;
    TEXT-ALIGN: center
}
.TableTest_bgcolor
{
    BORDER-RIGHT: #c8c8c8 1px solid;
    BORDER-TOP: #c8c8c8 1px solid;
    BORDER-LEFT: #c8c8c8 1px solid;
    BORDER-BOTTOM: #c8c8c8 1px solid;
    BACKGROUND-COLOR: #aaaaaa;
    TEXT-DECORATION: none
}
.TDTEST_BGCOLOR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-TOP: 1px;
    HEIGHT: 18pt;
    BACKGROUND-COLOR: #f8f8f6;
    TEXT-DECORATION: none;
    VALIGN: BOTTOM
}
.TD1TEST_BGCOLOR
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    WIDTH: 75pt;
    COLOR: gray;
    PADDING-TOP: 1px;
    FONT-FAMILY: ±¼¸²;
    HEIGHT: 18pt;
    BACKGROUND-COLOR: #dbebfc;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none;
    VALIGN: BOTTOM
}
.TABLETEST_TITLE
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15pt;
    TEXT-TRANSFORM: none;
    COLOR: darkblue;
    PADDING-TOP: 1px;
    FONT-STYLE: normal;
    FONT-FAMILY: ±¼¸²;
    HEIGHT: 18pt;
    BACKGROUND-COLOR: #dbebfc;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    VALIGN: BOTTOM
}
.SINPUTTEST_STYLE
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #3d4373 1px solid;
    BORDER-BOTTOM: #3d4373 1px solid;
    HEIGHT: 15pt;
    TEXT-ALIGN: left
}
.NUM_FIELD1
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    BORDER-LEFT: #3d4373 1px solid;
    WIDTH: 10pt;
    BORDER-BOTTOM: #3d4373 1px solid;
    HEIGHT: 15pt;
    TEXT-ALIGN: right
}
.TDLOGIN
{
    BORDER-RIGHT: white 3px;
    BORDER-TOP: white 3px;
    BORDER-LEFT: white 3px;
    COLOR: white;
    BORDER-BOTTOM: white thin;
    FONT-FAMILY: ±¼¸²;
    BACKGROUND-COLOR: #319cff;
    TEXT-ALIGN: center
}
.LEFTMENU
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: white 1px solid;
    COLOR: white;
    BORDER-BOTTOM: white 1px solid;
    FONT-FAMILY: ±¼¸²;
    BACKGROUND-COLOR: #65b5ff;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE
{
    BORDER-RIGHT: black 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px;
    WIDTH: 15%;
    COLOR: #2e4287;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 15%;
    COLOR: #2a489e;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE4
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: 0px;
    COLOR: #2a489e;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE5
{
    BORDER-RIGHT: black 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px;
    WIDTH: 25%;
    COLOR: #2e4287;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE6
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #2a489e;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    WIDTH: 35%;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY2
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: 1px;
    WIDTH: 85%;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY3
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    WIDTH: 85%;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: ivory;
    TEXT-ALIGN: left
}
.TDFAMILY4
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    WIDTH: 0%;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY5
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    WIDTH: 25%;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY6
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY1
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    COLOR: #2a489e;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left
}
.protected
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    BORDER-LEFT: #3d4373 1px solid;
    BORDER-BOTTOM: #3d4373 1px solid;
    BACKGROUND-COLOR: gainsboro
}
.HIDDEN
{
    DISPLAY: none
}
.GRID_TITLE
{
    BORDER-RIGHT: white 1px inset;
    BORDER-TOP: white 1px inset;
    BORDER-LEFT: white 1px inset;
    COLOR: #333333;
    BORDER-BOTTOM: white 1px inset;
    BACKGROUND-COLOR: #a0bfff
}
.normal
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    BORDER-LEFT: #3d4373 1px solid;
    BORDER-BOTTOM: #3d4373 1px solid;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.grid_normal
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 9pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.gprotected
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #2a489e;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent
}
.tprotected
{
    BORDER-RIGHT: #3d4373 0px;
    BORDER-TOP: #3d4373 0px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #3d4373 0px;
    COLOR: #007ea6;
    BORDER-BOTTOM: #3d4373 0px
}
.GREQUIRED
{
    BORDER-RIGHT: midnightblue 1px solid;
    BORDER-TOP: midnightblue 1px solid;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: midnightblue 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: midnightblue 1px solid;
    BACKGROUND-COLOR: ivory
}
.pgmtitle
{
    FONT-WEIGHT: bolder;
    COLOR: white;
    FONT-FAMILY: µ¸¿òÃ¼ 
}
.BASE1
{
    BORDER-RIGHT: #29479d thin;
    BORDER-TOP: #29479d thin;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #29479d thin;
    COLOR: #007ea6;
    BORDER-BOTTOM: #29479d thin;
    BACKGROUND-COLOR: transparent;
    gprotected: 0px
}
.BASE2
{
    BORDER-RIGHT: #29479d thin;
    BORDER-TOP: #29479d thin;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #29479d thin;
    COLOR: #007ea6;
    BORDER-BOTTOM: #29479d thin;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    gprotected: 0px
}
INPUT
{
}
INPUT .base1
{
    BORDER-RIGHT: gold solid;
    BORDER-TOP: gold solid;
    BORDER-LEFT: gold solid;
    BORDER-BOTTOM: gold solid
}
.print1
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 12pt;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: transparent;
    gprotected: 0px
}
.print2
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 12pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: transparent;
    gprotected: 0px
}
#MousePT
{
    Z-INDEX: 1;
    LEFT: 0px;
    ;
    LEFT: expression(document.body.clientWidth/2-100);
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px;
    ;
    TOP: expression(document.body.clientHeight/3);
    BACKGROUND-COLOR: black;
    layer-background-color: black
}
