DIV.TOPMENUBAR
{
    PADDING-TOP: 0px;
    HEIGHT: 100%
}
DIV.TOPSUBBAR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VISIBILITY: hidden;
    BORDER-LEFT: medium none;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    HEIGHT: 100%
}
DIV.LEFTMENUBAR
{
    PADDING-LEFT: 0px;
    VISIBILITY: hidden;
    WIDTH: 150px;
    POSITION: absolute;
    TEXT-ALIGN: left
}
A.MAINMENU
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 9pt;
    VISIBILITY: hidden;
    COLOR: #0242ac;
    PADDING-TOP: 2px;
    POSITION: absolute;
    TEXT-DECORATION: none
}
SPAN.SUBMENU
{
    FONT-SIZE: 9pt;
    COLOR: #065d88;
    PADDING-TOP: 3px;
    TEXT-DECORATION: none
}
A.LEFTSUB
{
    PADDING-LEFT: 30px;
    FONT-SIZE: 9pt;
    WIDTH: 150px;
    COLOR: #017fa8;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
DIV.LEFTMAIN
{
    PADDING-LEFT: 20px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    WIDTH: 100%;
    COLOR: #185280;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
SPAN.GUBUN
{
    FONT-SIZE: 10pt;
    VISIBILITY: hidden;
    COLOR: #0d5abf;
    PADDING-TOP: 1px;
    POSITION: absolute;
    TEXT-DECORATION: none
}
.MENU
{
    FONT-SIZE: 9pt;
    COLOR: #065d88;
    PADDING-TOP: 11px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A.SUBMENU
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
.MENUOVER
{
    FONT-SIZE: 9pt;
    COLOR: #e07000;
    TEXT-DECORATION: none
}
.inputbox
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 4px;
    BORDER-LEFT: #3d4373 1px solid;
    BORDER-BOTTOM: #3d4373 1px solid;
    HEIGHT: 14pt;
    BACKGROUND-COLOR: white
}
.TXTCHK
{
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 4px;
    HEIGHT: 12pt;
    TEXT-DECORATION: none
}
#MousePT
{
    Z-INDEX: 1;
    LEFT: 0px;
    ;
    LEFT: expression(document.body.clientWidth/2-50);
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px;
    ;
    TOP: expression(document.body.clientHeight/3);
    BACKGROUND-COLOR: black;
    layer-background-color: black
}

/********************************************************************************/
/*	       얾牟弑칳줸    Cascading Style Sheet                                                      */
/*                                                                                                                    */
/*******************************************************************************/

/* Main Menu 쟛콜 */
.TOPMENUBAR A:link {color:#000000; font-size:9pt; font-family:"쏲"; font-weight: bold; text-decoration: none;}
.TOPMENUBAR A:visited {color:#000000; font-size:9pt; font-family:"쏲"; font-weight: bold; text-decoration: none; }
.TOPMENUBAR A:active {color:#837C00; font-size:9pt; font-family:"쏲"; font-weight: bold; text-decoration: none; }
.TOPMENUBAR A:hover {color:#837C00; font-size:9pt; font-family:"쏲"; font-weight: bold; text-decoration:none; }


/* Left Menu 쟛콜 */
.ltmenu02 A:link {color:#747474; font-size:9pt; font-family:"옺"; text-decoration: none;}
.ltmenu02 A:visited {color:#747474; font-size:9pt; font-family:"옺"; text-decoration: none; }
.ltmenu02 A:active {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration: none; }
.ltmenu02 A:hover {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration:none; }

/* Move Page 쟛콜 */
.ftmvpage A:link {color:#747474; font-size:9pt; font-family:"옺"; text-decoration: none;}
.ftmvpage A:visited {color:#747474; font-size:9pt; font-family:"옺"; text-decoration: none; }
.ftmvpage A:active {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration: none; }
.ftmvpage A:hover {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration:none; }

/* List 쟛콜 */
.listrow02 A:link {color:#666666; font-size:9pt; font-family:"옺"; text-decoration: none;}
.listrow02 A:visited {color:#666666; font-size:9pt; font-family:"옺"; text-decoration: none; }
.listrow02 A:active {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration: none; }
.listrow02 A:hover {color:#007AAC; font-size:9pt; font-family:"옺"; text-decoration:none; }

/* Home 쟛콜 */
.home01 A:link {color:#333333; font-size:9pt; font-family:"옺"; font-weight: bold; text-decoration: none;}
.home01 A:visited {color:#333333; font-size:9pt; font-family:"옺"; font-weight: bold;text-decoration: none; }
.home01 A:active {color:#333333; font-size:9pt; font-family:"옺"; font-weight: bold; text-decoration: underline; }
.home01 A:hover {color:#333333; font-size:9pt; font-family:"옺"; font-weight: bold; text-decoration:underline; }

.home02 A:link {color:#666666; font-size:8pt; font-family:"옺"; text-decoration: none;}
.home02 A:visited {color:#666666; font-size:8pt; font-family:"옺"; text-decoration: none; }
.home02 A:active {color:#007AAC; font-size:8pt; font-family:"옺"; text-decoration: none; }
.home02 A:hover {color:#007AAC; font-size:8pt; font-family:"옺"; text-decoration:none; }

/* Sub Menu 쟛콜 */
.submenu A:link {color:#FFFFFF; font-size:9pt; font-family:"옺"; text-decoration: none;}
.submenu A:visited {color:#FFFFFF; font-size:9pt; font-family:"옺"; text-decoration: none; }
.submenu A:active {color:#F3FF62; font-size:9pt; font-family:"옺"; text-decoration: none; }
.submenu A:hover {color:#F3FF62; font-size:9pt; font-family:"옺"; text-decoration:none; }



.TOPMENUBAR {font-family: "쏲"; font-size: 9pt; font-weight: bold; color: #000000; text-align: center; padding-top: 6px;}

.ltmenu01 {font-family: "옺"; font-size: 9pt; font-weight: bold; color: #3A3A3A; padding-top: 3px; padding-left: 30px;}

.ltmenu02 {font-family: "옺"; font-size: 9pt; color: #747474; padding-top: 3px; padding-left: 30px;}

.ltmntitle {font-family: "옺"; font-size: 11pt; font-weight: bold; color: #FFFFFF; padding-left: 70px; padding-top: 4px;}

.contitle {font-family: "옺"; font-size: 11pt; font-weight: bold; color: 003655; padding-top: 2px;}

.ftgray {font-family: "옺"; font-size: 9pt; color: 4B4B4B; padding-top: 2px;}

/* Move Page Text */
.ftmvpage { font-family:"옺, Arial"; font-size:9pt; color:#3C3C3C; }

/**************** Form ****************/

/* Form_Select*/
.fmselect {border:1px BCBCBC solid; font-size:9pt; color:#333333; font-family:"옺, Arial"; }

/* Form_Text*/
.fmtext { font-size:9pt; color:#333333; font-family:"옺, Arial"; height:18px;}

/* Form*/
.form {border:1px BCBCBC solid; font-family: "옺"; font-size: 9pt; color: #6d6d6d; background-color: #FFFFFF;}

/* Form_DoNot_Text*/
.fmnotext { font-size:9pt; color:#333333; font-family:"옺, Arial"; background-color:#dfe2e8; height:18px; }

/* Form_Textarea*/
.fmtextarea { border:1px BCBCBC solid; font-family: "옺"; font-size:9pt; color:#333333; font-family:"옺, Arial"; line-height:150%; 
	      scrollbar-arrow-color:a2a2a2;
	      scrollbar-track-color:#F7F7F7;
	      scrollbar-darkshadow-color:#F6F6F6;
	      scrollbar-face-color:#F6F6F6;
	      scrollbar-highlight-color:#F6F6F6;
	      scrollbar-shadow-color:#616161;}

/* Form_DoNot_Textarea*/
.fmnotextarea { font-size:9pt; color:#333333; font-family:"옺", "Arial"; background-color:F8F8F8;; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px}


.blrow01 {font-family: "옺"; font-size: 9pt; font-weight: bold; color: 3D6072; padding-top: 2px; padding-left: 12px;}

.blrow02 {font-family: "옺"; font-size: 9pt; color: 002232; padding-top: 2px; padding-left: 12px;}

.listitle01 {font-family: "옺"; font-size: 9pt; color: 2F2F2F; height: 30px; padding-top: 3px; text-align: center; background-color: E8F1DD;}

.listrow01 {font-family: "옺"; font-size: 9pt; color: 666666; text-align: center; height: 29px; padding-top: 3px;}

.listrow02 {font-family: "옺"; font-size: 9pt; color: 666666; height: 29px; padding-top: 3px; padding-left: 10px;}

.listitle02 {font-family: "쏲"; font-size: 9pt; font-weight: bold; color: 002D3A; text-align: center; padding-top: 4px;}

.blrow03 {font-family: "옺"; font-size: 9pt; font-weight: bold; color: 3D6072; padding-top: 2px;}

.blrow04 {font-family: "옺"; font-size: 9pt; color: 002232; padding-top: 2px; padding-left: 5px;}

.ctrow01 {font-family: "옺"; font-size: 9pt; color: #000000; background-color: F1F2E9; height: 30px; padding-top: 3px; padding-left: 20px;}

.ctrow02 {font-family: "옺"; font-size: 9pt; color: #5D5D5D; background-color: #FFFFFF; height: 30px; padding-top: 3px; padding-left: 8px;}

.form02 {border:1px BCBCBC solid; font-family: "옺"; font-size: 9pt; color: #6d6d6d; background-color: #F3F3F2;}

.home01 {font-family: "옺"; font-size: 9pt; font-weight: bold; color: #333333; padding-top: 3px; padding-left: 23px;}

.home02 {font-family: "옺"; font-size: 8pt; color: 666666; padding-left: 18px; height: 19px; padding-top: 2px;}

.submenu {font-family: "옺"; font-size: 9pt; color: #FFFFFF; padding-top: 3px;}