<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!--<add key="INIT_PATH" value="C:\nInterface\initFile\SEMI\"/>
    <add key="LOG_PATH" value="C:\nInterface\LogFile\SEMI\"/>
    <add key="DB_PATH" value="C:\nInterface\dbFile\SEMI\"/>
    <add key="SET_PATH" value="C:\nInterface\SetFile\SEMI\"/>-->
    <add key="INIT_PATH" value="C:\nInterface\SEMI\initFile\"/>
    <add key="LOG_PATH" value="C:\nInterface\SEMI\LogFile\"/>
    <add key="DB_PATH" value="C:\nInterface\SEMI\dbFile\"/>
    <add key="SET_PATH" value="C:\nInterface\SEMI\SetFile\"/>
    <add key="MAIL_HOST" value="mail.nepes.co.kr"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
