.TOPMENUBAR A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    PADDING-TOP: 10px;
    FONT-FAMILY: "±¼¸²";
    TEXT-DECORATION: none
}
.TOPMENUBAR A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    PADDING-TOP: 10px;
    FONT-FAMILY: "±¼¸²";
    TEXT-DECORATION: none
}
.TOPMENUBAR A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #837c00;
    PADDING-TOP: 10px;
    FONT-FAMILY: "±¼¸²";
    TEXT-DECORATION: none
}
.TOPMENUBAR A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #837c00;
    PADDING-TOP: 10px;
    FONT-FAMILY: "±¼¸²";
    TEXT-DECORATION: none
}
.ltmenu02 A:link
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ltmenu02 A:visited
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ltmenu02 A:active
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ltmenu02 A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.listrow02 A:link
{
    FONT-SIZE: 9pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.listrow02 A:visited
{
    FONT-SIZE: 9pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.listrow02 A:active
{
    FONT-SIZE: 9pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.listrow02 A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home01 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home01 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home01 A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: underline
}
.home01 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: underline
}
.home02 A:link
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home02 A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home02 A:active
{
    FONT-SIZE: 8pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.home02 A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.submenu A:link
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.submenu A:visited
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.submenu A:active
{
    FONT-SIZE: 9pt;
    COLOR: #f3ff62;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.submenu A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #f3ff62;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ftmvpage A:link
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ftmvpage A:visited
{
    FONT-SIZE: 9pt;
    COLOR: #747474;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ftmvpage A:active
{
    FONT-SIZE: 9pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.ftmvpage A:hover
{
    FONT-SIZE: 9pt;
    COLOR: #007aac;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.TOPMENUBAR
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    PADDING-TOP: 6px;
    FONT-FAMILY: "±¼¸²";
    TEXT-ALIGN: center;
    text-valign: center
}
.ltmenu01
{
    PADDING-LEFT: 30px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #3a3a3a;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò"
}
.ltmenu02
{
    PADDING-LEFT: 30px;
    FONT-SIZE: 9pt;
    COLOR: #747474;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò"
}
.ltmntitle
{
    PADDING-LEFT: 70px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    PADDING-TOP: 4px;
    FONT-FAMILY: "µ¸¿ò"
}
.contitle
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    BORDER-LEFT: 0px;
    COLOR: #003655;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    BACKGROUND-COLOR: transparent
}
.ftgray
{
    FONT-SIZE: 9pt;
    COLOR: #4b4b4b;
    PADDING-TOP: 0px;
    FONT-FAMILY: "µ¸¿ò"
}
.ftmvpage
{
    FONT-SIZE: 9pt;
    COLOR: #3c3c3c;
    FONT-FAMILY: µ¸¿ò, Arial
}
.form
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #5f564d;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    BACKGROUND-COLOR: transparent
}
.blrow01
{
    PADDING-LEFT: 12px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #3d6072;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò"
}
.blrow02
{
    PADDING-LEFT: 12px;
    FONT-SIZE: 9pt;
    COLOR: #002232;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò"
}
.blrow03
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #3d6072;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò"
}
.blrow04
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    COLOR: #002232;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò"
}
.listitle01
{
    FONT-SIZE: 9pt;
    COLOR: #2f2f2f;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 30px;
    BACKGROUND-COLOR: #e8f1dd;
    TEXT-ALIGN: center
}
.listrow01
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #666666;
    PADDING-TOP: 7px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 26px;
    text-valign: center
}
.listrow02
{
    PADDING-LEFT: 9px;
    FONT-SIZE: 9pt;
    COLOR: #666666;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 29px
}
.listitle02
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #002d3a;
    PADDING-TOP: 4px;
    FONT-FAMILY: "±¼¸²";
    TEXT-ALIGN: center
}
.ctrow01
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    WIDTH: 133px;
    COLOR: #2f2f2f;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 25px;
    BACKGROUND-COLOR: #f1f2e9
}
.ctrow02
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 230px;
    COLOR: #5d5d5d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ffffff;
    text-valign: center
}
.ctrow03
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    COLOR: #2f2f2f;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 25px;
    BACKGROUND-COLOR: #f1f2e9
}
.ctrow04
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #5d5d5d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right;
    text-valign: center
}
.ctrow06
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #5d5d5d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 25px;
    BACKGROUND-COLOR: #ffffff;
    text-valign: center
}
.form01
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #bcbcbc 1px solid;
    COLOR: black;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 20px;
    BACKGROUND-COLOR: white
}
.form02
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #bcbcbc 1px solid;
    COLOR: #6d6d6d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 20px;
    BACKGROUND-COLOR: #f3f3f2
}
.home01
{
    PADDING-LEFT: 23px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò"
}
.home02
{
    PADDING-LEFT: 18px;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    PADDING-TOP: 2px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 19px
}
.submenu
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: "µ¸¿ò"
}
.TOPMENUBAR
{
    PADDING-TOP: 0px;
    HEIGHT: 100%
}
.TOPSUBBAR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VISIBILITY: hidden;
    BORDER-LEFT: medium none;
    COLOR: #000000;
    PADDING-TOP: 80px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute
}
DIV.LEFTMENUBAR
{
    PADDING-LEFT: 0px;
    VISIBILITY: hidden;
    WIDTH: 100%;
    POSITION: absolute;
    TEXT-ALIGN: left
}
A.MAINMENU2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VISIBILITY: hidden;
    COLOR: #000000;
    PADDING-TOP: 6px;
    POSITION: absolute
}
.SUBMENU
{
    FONT-SIZE: 9pt;
    COLOR: white;
    PADDING-TOP: 3px;
    TEXT-DECORATION: none
}
.LEFTSUB
{
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    COLOR: #747474;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.LEFTSUBOVER
{
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    COLOR: yellow;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
DIV.LEFTMAIN
{
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
SPAN.GUBUN
{
    FONT-SIZE: 10pt;
    VISIBILITY: hidden;
    COLOR: #0d5abf;
    PADDING-TOP: 1px;
    POSITION: absolute;
    TEXT-DECORATION: none
}
.MENU
{
    FONT-SIZE: 9pt;
    COLOR: #065d88;
    PADDING-TOP: 9px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A.SUBMENU
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
.MENUOVER
{
    FONT-SIZE: 9pt;
    COLOR: #e07000;
    TEXT-DECORATION: none
}
.inputbox
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 4px;
    BORDER-LEFT: #bcbcbc 1px solid;
    COLOR: #6d6d6d;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    HEIGHT: 14pt
}
.TXTCHK
{
    FONT-SIZE: 9pt;
    MARGIN-BOTTOM: 4px;
    HEIGHT: 12pt;
    TEXT-DECORATION: none
}
#MousePT
{
    Z-INDEX: 1;
    LEFT: 0px;
    ;
    LEFT: expression(document.body.clientWidth/2-50);
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px;
    ;
    TOP: expression(document.body.clientHeight/3);
    BACKGROUND-COLOR: black;
    layer-background-color: black
}
.TITLE
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    WIDTH: 100pt;
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.TITLE A
{
    MARGIN-TOP: 3px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: #666666;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.BaseFont
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-DECORATION: none
}
.BODYS
{
    FONT-SIZE: 9pt;
    MARGIN: 0px 0px 0px 1px;
    COLOR: #333333;
    FONT-FAMILY: ±¼¸²;
    TEXT-DECORATION: none
}
.REQUIRED
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #bcbcbc 1px solid;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    FONT-FAMILY: "µ¸¿ò";
    TEXT-VALIGN: center
}
.Tab5
{
    MARGIN-LEFT: 5px
}
.Tab10
{
    MARGIN-LEFT: 10px
}
.SINPUTTEST_STYLE
{
    BORDER-RIGHT: #3d4373 1px;
    BORDER-TOP: #3d4373 1px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #3d4373 1px;
    BORDER-BOTTOM: #3d4373 1px;
    HEIGHT: 15pt;
    TEXT-ALIGN: left
}
.NUM_FIELD1
{
    BORDER-RIGHT: #3d4373 1px solid;
    BORDER-TOP: #3d4373 1px solid;
    BORDER-LEFT: #3d4373 1px solid;
    WIDTH: 10pt;
    BORDER-BOTTOM: #3d4373 1px solid;
    HEIGHT: 15pt;
    TEXT-ALIGN: right
}
.LEFTMENU
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: white 1px solid;
    COLOR: white;
    BORDER-BOTTOM: white 1px solid;
    FONT-FAMILY: ±¼¸²;
    BACKGROUND-COLOR: #65b5ff;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE
{
    BORDER-RIGHT: black 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px;
    WIDTH: 15%;
    COLOR: #2e4287;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #2f2f2f;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 27px;
    BACKGROUND-COLOR: #e8f1dd;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #2f2f2f;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    HEIGHT: 27px;
    BACKGROUND-COLOR: #e8f1dd;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE4
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: 0px;
    COLOR: #2a489e;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE5
{
    BORDER-RIGHT: black 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px;
    WIDTH: 25%;
    COLOR: #2e4287;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY_TITLE6
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #2a489e;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #d0d6e4;
    TEXT-ALIGN: center
}
.TDFAMILY
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    WIDTH: 35%;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY2
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: 1px;
    WIDTH: 85%;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY3
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    WIDTH: 85%;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: ivory;
    TEXT-ALIGN: left
}
.TDFAMILY4
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 0px;
    WIDTH: 0%;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY5
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    WIDTH: 25%;
    COLOR: black;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY6
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    COLOR: black;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #e9edf9;
    TEXT-ALIGN: left
}
.TDFAMILY1
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 1px;
    COLOR: #2a489e;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left
}
.protected
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    BORDER-LEFT: #bcbcbc 1px solid;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    BACKGROUND-COLOR: #f3f3f2
}
.HIDDEN
{
    DISPLAY: none
}
.GRID_TITLE
{
    BORDER-RIGHT: white 1px inset;
    BORDER-TOP: white 1px inset;
    BORDER-LEFT: white 1px inset;
    COLOR: #333333;
    BORDER-BOTTOM: white 1px inset;
    BACKGROUND-COLOR: #a0bfff
}
.normal
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    BORDER-LEFT: #bcbcbc 1px solid;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.gprotected
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #6d6d6d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent
}
.tprotected
{
    BORDER-RIGHT: #bcbcbc 0px;
    BORDER-TOP: #bcbcbc 0px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #bcbcbc 0px;
    COLOR: #6d6d6d;
    BORDER-BOTTOM: #bcbcbc 0px
}
.GREQUIRED
{
    BORDER-RIGHT: midnightblue 1px solid;
    BORDER-TOP: midnightblue 1px solid;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: midnightblue 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: midnightblue 1px solid
}
.BASE1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    BACKGROUND-COLOR: #f1f2e9;
    TEXT-ALIGN: center
}
.BASE2
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #5d5d5d;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: "µ¸¿ò";
    BACKGROUND-COLOR: #ffffff
}
INPUT
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: "µ¸¿ò"
}
SELECT
{
    BORDER-RIGHT: #bcbcbc 1px solid;
    BORDER-TOP: #bcbcbc 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #bcbcbc 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #bcbcbc 1px solid;
    FONT-FAMILY: "µ¸¿ò"
}
INPUT .base1
{
    BORDER-RIGHT: gold solid;
    BORDER-TOP: gold solid;
    BORDER-LEFT: gold solid;
    BORDER-BOTTOM: gold solid
}
INPUT .base2
{
    BORDER-RIGHT: gold solid;
    BORDER-TOP: gold solid;
    BORDER-LEFT: gold solid;
    BORDER-BOTTOM: gold solid
}
.print1
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 12pt;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: transparent;
    gprotected: 0px
}
#MousePT
{
    Z-INDEX: 1;
    LEFT: 0px;
    ;
    LEFT: expression(document.body.clientWidth/2-100);
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px;
    ;
    TOP: expression(document.body.clientHeight/3);
    BACKGROUND-COLOR: black;
    layer-background-color: black
}
.radio_title
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
A
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: white;
    TEXT-DECORATION: underline
}
A.plain:hover
{
    FONT-SIZE: 10pt;
    COLOR: yellow;
    TEXT-DECORATION: none
}
#box {
  position:absolute;
  visibility:hidden;
   }
